[submodule "analysis/rooutil"]
	path = analysis/rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "analysis/plottery"]
	path = analysis/plottery
	url = git@github.com:aminnj/plottery.git
[submodule "wwwbabymaker"]
	path = wwwbabymaker
	url = git@github.com:cmstas/VVVBabyMaker.git
	branch = master
	ignore = untracked
[submodule "fakerate/plottery"]
	path = fakerate/plottery
	url = git@github.com:aminnj/plottery.git
[submodule "fakerate/rooutil"]
	path = fakerate/rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "fakerate/ProjectMetis"]
	path = fakerate/ProjectMetis
	url = git@github.com:aminnj/ProjectMetis.git
	branch = master
	ignore = dirty
[submodule "analysis/ProjectMetis"]
	path = analysis/ProjectMetis
	url = git@github.com:aminnj/ProjectMetis.git
	ignore = dirty
