analysis/outputs
analysis/scalefactors
analysis/.jobs.txt
analysis/plots
analysis/*.o
analysis/*.root
analysis/doAnalysis

fakerate/outputs
fakerate/.jobs.txt
fakerate/plots
fakerate/histmap
fakerate/*.o
fakerate/doAnalysis
fakerate/*.root

docs/*.aux
docs/*.log

mcgeneration/www2017/test
